.navbar-item img {
  max-width: 200rem !important ;
}
@media screen and (max-width: 812px) {
  .navbar-item img {
    display: flex !important;
  }
  .section {
    padding: 9px !important;
  }
  .full-width-image {
    height: 20.75rem !important;
  }
  #navMenu {
    width: 30%;
    height: 8rem;
    background-color: #0072bc;
  }
}

@media screen and (max-width: 812px) {
  .navbar-brand {
    display: flex !important;
    justify-content: space-between;
  }
}
@media screen and (max-width: 812px) {
  .container {
    flex-direction: row !important;
  }
}
@media screen and (max-width: 812px) {
  .navbar-burger {
    left: 0rem !important;
    width: 0.85rem !important;
  }
}
@media screen and (max-width: 812px) {
  #linkDiv {
    display: block !important;
  }
}

@media screen and (max-width: 812px) {
  #logo {
    width: 9.35rem;
  }
}
@media screen and (max-width: 812px) {
  #buttonHelper {
    display: flex;
    margin-top: 5px !important;
    margin-left: -11px !important;
  }
}
@media screen and (min-width: 812px) {
  #buttonHelper {
    visibility: hidden;
  }
}
@media screen and (min-width: 812px) {
  #buttonHelperBig {
    margin-left: 15rem;
  }
}
@media screen and (max-width: 812px) {
  #buttonHelperBig {
    visibility: hidden;
  }
}
@media screen and (max-width: 812px) {
  .navbar-item {
    color: white !important;
  }
  /* .navbar-item:first-child {
    margin-right: 101px;
  } */
}
@media screen and (max-width: 812px) {
  .navbar is-transparent {
    height: auto;
  }
}
